<h2 class="sub-header">Add Contact</h2>
<form (submit)="addContact()">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Name" [(ngModel)]="contactForm.name">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Email" [(ngModel)]="contactForm.email">
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" [(ngModel)]="contactForm.phone">
  </div>
  <button type="submit" class="btn btn-info">Create</button>
</form>
